/* Crud.css */
body {
  font-family: Arial, sans-serif;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.inventory-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.table-container {
  max-height: 400px; /* Puedes ajustar esta altura según sea necesario */
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.crud-table {
  width: 100%;
  border-collapse: collapse;
}

.crud-table th, .crud-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.crud-table th {
  background-color: #f2f2f2;
}

.pagination {
  margin: 20px 0;
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.page-button.active {
  font-weight: bold;
}

.crud-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.crud-button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.edit-box {
  margin-top: 20px;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
